*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/*container1 nav, judul, nav, img, about*/
.container1{
    max-width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.container1 .nav{
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    z-index: 9999;
}

.container1 .nav a{
    text-decoration: none;
    margin: 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6E57E0;
    font-weight: bold;
}

.container1 .nav a:hover{
    color: black;
    
}

.container1 .nav-toogle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    opacity: 0;
    position: relative;
}

.container1 .nav-toogle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    top: 30px;
    position: relative;
}

.container1 .nav-toogle input{
    cursor: pointer;
    position: absolute;
    top: 25px;
    width: 30px;
    height: 30px;
    z-index: 2;
    opacity: 0;
}
.container1 .judul{
    margin-top: 80px;
}

.container1 h1{
    font-size: 100px;
    color: #121212;
    margin: 0 100px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    
}
#text{
    margin-top: -50px;
    color: #545454fa;
    position: relative;
    top: 90px;
    margin-bottom: -200px;
    font-size: 100px;
    font-family: 'Kanit', sans-serif;
    left: 100px;
    width: fit-content;
}

.container1.dark #text{
    color: white;
}
.container1 > .judul-dev{
    margin-top: -50px;
    color: #545454fa;
}
.container1 .desc {
    width: 50%;
    color: #3a3a3a;
    margin: 30px 100px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
}

.container1 .desc > p{
    text-indent: 30px;
}

.container1 .desc a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: relative;
    left: 120px;
}
.container1 .desc span{
    margin-top: 30px;
}

.container1 .desc a:hover{
    color: #6E57E0;
}

.container1 .desc > .downloadcv:hover{
    color: black;
}

.container1 .desc > .downloadcv{
    padding: 10px 20px;
    background-color: #6E57E0;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 80px;
    left: -35px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    font-size: 15px;
}

.container1 .desc > .downloadcv:active{
    top: 85px;
    box-shadow: none;
}
.container1 .image img{
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00MCwtMzIuOUM1NS45LC0yNC4xLDc1LjUsLTEyLjEsNzYuNiwxLjFDNzcuOCwxNC4zLDYwLjQsMjguNyw0NC41LDQzLjhDMjguNyw1OSwxNC4zLDc1LC00LjMsNzkuM0MtMjIuOSw4My42LC00NS44LDc2LjIsLTU3LjMsNjFDLTY4LjcsNDUuOCwtNjguNywyMi45LC02OCwwLjdDLTY3LjQsLTIxLjYsLTY2LjEsLTQzLjIsLTU0LjcsLTUyQy00My4yLC02MC44LC0yMS42LC01Ni44LC00LjgsLTUyQzEyLjEsLTQ3LjIsMjQuMSwtNDEuNyw0MCwtMzIuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    top: -20px;
    right: 0;
}

.container1 .image img{
    width: 700px;
    height: 700px;
    
}

.container1 .toogle-theme .label{
    background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: fixed;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    z-index: 999;
    left: 10px;
}

.label .ball {
    background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox {
    opacity: 0;
	position: fixed;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon-o {
    color: #f1c40f;
    font-size: 20px;
}

.fa-sun-o {
	color: #f39c12;
}




/*container1 nav, judul, nav, img, about*/

/*container2 skill, exp*/
.container2 {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
}

.container2 .skills {
    width: 30%;

}

.container2 .skills >h1{
    width: 50%;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.container2 .exp,
.container2 .skills{ 
    margin-top: 80px;
}

.container2 .skills > p{
    margin-top: 30px;
    text-indent: 30px;
}

.container2 .skills .skill{
    display: flex;
}

.container2 .skills .skill h3{
    margin-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container2 .skills .skill img{
    margin-top: 40px;
    width: 80px;
    height: 80px;
    position: relative;
    top:80px;
}

.container2 .skills .skill .icon2{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}
.container2 .skills .skill p{
    position: relative;
    display: inherit;
    top: 220px;
    left: -70px;
}

.container2 .exp > h3{
    width: 50%;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.container2 .exp .partime{
    margin-top: 50px;
    border-top: 3px solid black;
    padding: 30px;
}

.container2 .exp .partime .desc{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

.container2 .exp .partime h4{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/*container2 skill, exp*/

/*container3 education*/
.container3 {
    max-width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
}

.container3 > h3{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    padding: 80px 50px;
    margin-bottom: 80px;
}

.container3 .edutes{
    display: flex;
    gap: 3em;
}

.container3 .edu1, .edu2, .edu3{
    width: 50%;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.container3 .edutes .edu1{
    position: relative;
    top: 80px;
    padding: 30px;
}
.container3 .edutes .edu2 {
    padding: 30px;
}
.container3 .edutes .edu3{
    position: relative;
    top:-100px;
    padding: 30px;
}
.container3 .edutes h3{
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
.container3 .edutes .edu1 h3{
    font-size: 28px;
    font-family:'Roboto', sans-serif;
}
.container3 .edutes .tanggal{
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    padding: 10px 0;
}

/*container3 education*/

/*container4 form*/
.container4 {
    max-width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.container4 h3 > span{
    color: #6E57E0;
}

.container4 .form-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
}

.container4  > h3{
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 80px 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 50%;
}

.container4 .form-wrapper .form input{
    width: 100%;
    height: 10%;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #2ecc71;
    font-size: 20px;
}

.container4 .form-wrapper .form label{
    position: relative;
    top: -35px;
    left: 20px;
    transition: 0.3s;
}

.container4 .form-wrapper .form .name:focus ~ .name-label{
    top: -65px;
    background-color: whitesmoke;
    padding: 5px;
    font-size: 14px;
}

.container4 .form-wrapper .form .name:not(:placeholder-shown) ~ .name-label,
.container4 .form-wrapper .form .email:not(:placeholder-shown) ~ .email-label,
.container4 .form-wrapper .form .number:not(:placeholder-shown) ~ .number-label{ 
    top: -65px;
    background-color: whitesmoke;
    padding: 5px;
    font-size: 14px;
}

.container4 .form-wrapper .form .email:focus ~ .email-label{
    top: -65px;
    background-color: whitesmoke;
    padding: 5px;
    font-size: 14px;
}

.container4 .form-wrapper .form .number:focus ~ .number-label{
    top: -65px;
    background-color: whitesmoke;
    padding: 5px;
    font-size: 14px;
}

.container4 .form-wrapper .form button{
    padding: 10px 20px;
    background-color: rgb(168, 247, 168);
    border: none;
    position: relative;
    right: -120px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;

}

.container4 .form-wrapper .form button:active{
    box-shadow: none;
    top: 5px;
}

.container4 .maps {
    position: relative;
    top: -170px;
    right: -50px;
    width: fit-content;
}

.container4 .maps iframe{
    width: 50em;
    height: 35em;
}
/*container4 form*/

/*container5 footer*/

.container5{
    max-width: 100vw;
    height: 30%;
    text-align: center;
    background-color: whitesmoke;
    padding: 50px;
}

.container5 p{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}
/*container5 footer*/

/* dark theme */
.container1.dark, .container2.dark,
.container3.dark, .container4.dark, .container5.dark{
    background-color: #292C35;
    transition: .5s;
    
}



.container1.dark .nav a, .container1.dark .desc, 
.container1.dark .judul, .container1.dark .desc a, 
.container3.dark, .container2.dark,
.container4.dark, .container5.dark{
    color: white;
}

.container1.dark .nav-toogle span{
    background-color: white;
}

.container1.dark .nav.slide{
    background-color: rgb(43, 43, 43);
}

.container1.dark .desc a:hover,
.container1.dark .nav a:hover{
    color: crimson;
}

.container1.dark .desc .downloadcv:hover{
    color: yellow;
}

.container2.dark .exp .partime{
    border-top: 3px solid white;
}

.container3.dark .edutes .edu1, .container3.dark .edutes .edu2, 
.container3.dark .edutes .edu3{
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.container4.dark .form-wrapper .form .name:focus ~ .name-label,
.container4.dark .form-wrapper .form .email:focus ~ .email-label,
.container4.dark .form-wrapper .form .number:focus ~ .number-label
{
    background-color: #292C35;
}

.container4.dark .form-wrapper .form .name:not(:placeholder-shown) ~ .name-label,
.container4.dark .form-wrapper .form .email:not(:placeholder-shown) ~ .email-label,
.container4.dark .form-wrapper .form .number:not(:placeholder-shown) ~ .number-label{ 
    background-color: #292C35;

}

.container4.dark .form-wrapper .form input {
    color: white;
}

/* dark theme */

.reveal{
    position: relative;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}